extends layout

block content
	h1 Welcome on this WebID demo.
	p You may want to go on the <a href="/login">login page</a> to test it.
	p <a href='http://www.w3.org/wiki/WebID'>This W3C wiki page</a> is a good place to learn more about WebID and why you should care about it.