extends layout

block content
	h1 Profile of #{name} (name)
	p You way want to see your <a href="/wall">wall</a>!
	ul
		li WebID: #{webid}
		li Birthday: #{birthday}
	h2 List of friends
	ul
		each person in knows
			li= person
